<?xml version="1.0"?>

<launch>
    <arg name="gazebo" default="false"/>

    <include unless="$(arg gazebo)" file="$(find panda_moveit_config)/launch/demo.launch"/>

    <include if="$(arg gazebo)" file="$(find panda_moveit_config)/launch/demo_gazebo.launch"/>

    <node pkg="slide20" type="moveit_commander_tutorial.py" name="moveit_commander_tutorial"/>

</launch>
